@import url('http://fonts.googleapis.com/css?family=Alata&subset=latin,latin-ext');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth; 
  }

body {
    background-color: #FFFFFF;
    color: #62406F; text-shadow: #EEE8FF 0.1em 0.1em 0.2em;  
    /* CDCCCC */
    font-family: 'Alata', sans-serif;
    font-size: 28px;
    width: 100%;
}

a {
    text-decoration: none;
}

section {
    text-align: center;
}

footer {
    text-align: center;
}

img {
    max-width: 100%;
}

div {
    width: 100%;
    height: 100%;
}

#video_header {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    bottom: 0;
    right: 0;
}

.logo {
    position: fixed;
    top: 10px;
    left: 85%;
    width: 100%;
}

.logo img {
    width: 120px;
}

.top h1 {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}

.top h1~p {
    position: absolute;
    left: 50%;
    top: 45%;
    margin-top: 20px;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.top h1~a {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 2px solid #d6caf8;
    padding: 10px 15px;
    font-size: 40px;
}

nav {
    box-shadow: 1px 1px 1px 1px #352564;
}

nav ul {
    list-style-type: none;
    width: 100%;
}

nav li {
    position: relative;
    text-align: center;
}

nav a {
    transition: 0.5s;
}

nav a:hover {
    color: #c386cf;
    text-shadow: 0 0 0.1em #271B2B, 0 0 0.1em #271B2B, 0 0 0.1em #271B2B;
    /* text-shadow: #271B2B 0.1em 0.1em 0.1em; */
    /* #EEE8FF  */
}

.section-welcome {
    position: relative;
    top: 50px;
    margin-bottom: 50px;
}

.section-welcome h1 {
    margin-bottom: 60px;
    font-size: 40px;
    color: greenyellow; 
     font-weight: 100;
}

.section-welcome2 {
    position: relative;
    margin: 20px auto;
}

.section-best {
    position: relative;
    margin: 0px auto;
    background-image: url(/dodatki/bg1.jpg);
    background-size: cover;
}

.section-best-img {
    width: 100%;
}


.section-best h2 {
    color: hotpink;
}

.section-best p {
    padding-bottom: 40px;
}

.section-best2 {
    position: relative;
    margin: 0px auto;
    background-image: url(/dodatki/bg1.jpg);
    background-size: cover;
}

.section-best2-img {
    width: 100%;
}


.section-best2 h2 {
    color: hotpink;
}

.section-best2 p {
    padding-bottom: 40px;
}

.social-media i {
    color: #62406F;
    text-align: center;
    margin-top: 20px;
    font-size: 60px;
    transition: 2s;
    letter-spacing: 25px;
}

.social-media i:hover {
    /* color: #ff792b; */
    opacity: 0.8;
    text-shadow: #b0b5fc 0.2em 0.2em 0.2em;
    transform: scale(1.1,1.1);
    transition-duration: 250ms;
    transition-timing-function: ease-out;
}

.section-newsletter h2 {
    color: khaki;
}